html {
    background-color: #000000;
    color: white;
    font-family: system-ui;
    text-align: center;
    justify-content: center;
    display: flex;
}

h1 {
  font-size: 40px
}

.pfp {
  border-radius: 20%;
 width: 150px;
  height: 150px;
  border: 2px solid white;
  align-items: center;
}


  #bttn {
 font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;
color: white;
  background: transparent;
  padding: 12px 90px;
  border-radius: 6px;
    border: #fff 2px solid;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  margin: 12px 10px 18px 10px;
  gap: 10px;
    justify-content: center;
}

#bttn:hover {
  color: white;
  transform: scale(1.06);
  border: #fff 2px solid;
}


#about {
  color: #a6adc8;
}

span#socials {
  font-size: 13px;
  color: grey;
  align-items: left;
}

#player {
      margin-top: 40px;
      border: 3px dashed #ffffff;
      padding: 20px;
      border-radius: 15px;
      background-color: rgba(0, 0, 0, 0.05);
      justify-content: center;
     align-items: center;
  text-align: center;
    }

.bttn {
 font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;
color: white;
  background: transparent;
  padding: 9px;
  border-radius: 6px;
    border: #fff 2px solid;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  margin: 12px 10px 18px 10px;
  gap: 10px;
    justify-content: center;
}