html {
    background-color: #000000;
    color: white;
    font-family: system-ui;
    text-align: center;
    justify-content: center;
    display: flex;
}

h1 {
  font-size: 40px
}

.pfp {
  border-radius: 20%;
 width: 150px;
  height: 150px;
  border: 2px solid white;
  align-items: center;
}


  #bttn {
 font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;
color: white;
  background: transparent;
  padding: 12px 90px;
  border-radius: 6px;
    border: #fff 2px solid;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  margin: 12px 10px 18px 10px;
  gap: 10px;
    justify-content: center;
}

#bttn:hover {
  color: white;
  transform: scale(1.06);
  border: #fff 2px solid;
}


#about {
  color: #a6adc8;
}

span#socials {
  font-size: 13px;
  color: grey;
  align-items: left;
}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
  color: white;
  font-size: 1.5vw;
  cursor: pointer;
  transition: opacity 1s ease;
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.bttn {
 font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;
color: white;
  background: transparent;
  padding: 9px;
  border-radius: 6px;
    border: #fff 2px solid;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  margin: 12px 10px 18px 10px;
  gap: 10px;
    justify-content: center;
}

#enter-button {
    top: 50%;
    left: 50%;
    font-size: 24px;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 40px;
  }

.box {
display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  text-align: center;
  color: white;
}

.enter-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(20px);
    z-index: 9999;
    transition: all 0.3s ease;
  }

  .random-images {
      position: fixed;
      bottom: 0;
      left: 0;
      width: 200px;
      height: 200px;
      object-fit: cover;
      opacity: 1;
      transition: opacity 2s ease;
      z-index: 1;
    }