html, body {
    margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background: #000;
  color: white;
  font-family: system-ui;
}

.pfp {
    top: 50%;
    left: 50%;
    width: 150px;
    height: 150px;
    border-radius: 90px;
    -webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    animation:spin 4s linear infinite;
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

  #bttn {
 font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;
color: white;
  background: transparent;
  padding: 12px 90px;
  border-radius: 6px;
    border: #fff 2px solid;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  margin: 12px 10px 18px 10px;
  gap: 10px;
    justify-content: center;
}

#bttn:hover {
  color: white;
  transform: scale(1.06);
  border: #fff 2px solid;
}


#about {
  color: #a6adc8;
}

span#socials {
  font-size: 13px;
  color: grey;
  align-items: left;
}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
  color: white;
  opacity: 1;
  font-size: 3.5vw;
  cursor: pointer;
  background-color: black;
  transition: opacity 1s ease;
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 550;
}

.bttn {
 font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;
color: white;
  background: transparent;
  padding: 9px;
  border-radius: 6px;
    border: #fff 2px solid;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  margin: 12px 10px 18px 10px;
  gap: 10px;
    justify-content: center;
}

#enter-button {
    top: 50%;
    left: 50%;
    font-size: 24px;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 40px;
  }

.box {
display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  text-align: center;
  color: white;
  z-index: 2;
  position: relative;
   background: rgba(0, 0, 0, 0.45);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  border-radius: 16px;
  padding: 30px;
  border: 1px solid rgba(255, 255, 255, 0.15);
  width: 600px;
}

.enter-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(20px);
    z-index: 9999;
    transition: all 0.3s ease;
  }

  .random-images {
          position: fixed;
      top: 0;
      left: 0;
      object-fit: cover;
      opacity: 1;
      transition: opacity 2s ease;
      z-index: 3;
      height: 100px;
      width: 100px;
    }

#vanta {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 0;
  pointer-events: none;
}

#content {
  position: relative;
  z-index: 2;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-family: system-ui;
  overflow: hidden;
  font-size: 40px;
  text-shadow: 0 0 8px white;
}